<div>
    <form class="clr-row clr-align-items-end" novalidate clrForm>
            <clr-date-container class="clr-col-3">
                <label>Data da vigência inicial</label>
                <input type="date" [(ngModel)]="dateInitialValidity" [ngModelOptions]="{standalone: true}" clrDate>
            </clr-date-container>
        
            <clr-date-container class="clr-col-3">
                <label>Data da vigência final</label>
                <input type="date" [(ngModel)]="dateFinallValidity" [ngModelOptions]="{standalone: true}" clrDate>
            </clr-date-container>

            <button type="button" class="btn btn-primary clr-col-2" [disabled]="!dateInitialValidity || !dateFinallValidity" (click)="listQuotations()">Pesquisar</button>
    </form>

    <div *ngIf="quotations.length > 0">
        <table class="table">
            <thead>
                <tr>
                    <th>Taxa conversão</th>
                    <th>Conversão</th>
                    <th>Data vigência inicial</th>
                    <th>Data vigência final</th>
                </tr>
            </thead>
                <tbody>
                    <tr *ngFor="let quotation of quotations">
                        <td>{{quotation.conversionRate}}</td>
                        <td>{{quotation.conversionType}}</td>
                        <td>{{quotation.dateInitialValidity}}</td>
                        <td>{{quotation.dateFinallValidity}}</td>
                    </tr>
                </tbody>
        </table>
    </div>
</div>